@model IEnumerable<MediaVM>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>

<p><a asp-action="create">CreateImage</a></p>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model=>model.ImagePath)</th>
                  <th>@Html.DisplayNameFor(model=>model.CategoryTitle)</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
          @foreach (var item in Model)
         {
               <tr>
                <td>"@Html.DisplayFor(modelItem=>item.ImagePath)"</td>
                <td>@Html.DisplayFor(modelItem=>item.CategoryTitle)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Detail" asp-route-id="@item.Id">
                        Detail
                    </a><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
            </tr>
             
         }
        </tbody>
    </table>
</body>
