@model Slider

@{
    ViewData["Title"] = "Delete";
}

<div>
    <div>
        <h4>
            Id
        </h4>
        <p>
            @Model.Id
        </p>
    </div>
    <div>
        <h4>
            Name
        </h4>
        <p>
            @Model.Name
        </p>
    </div>
     <div>
        <h4>
            Name
        </h4>
        <p>
            @Model.Name
        </p>
    </div>
     <div>
        <h4>
            Text1
        </h4>
        <p>
            @Model.Text1
        </p>
    </div>
     <div>
        <h4>
          Text2
        </h4>
        <p>
            @Model.Text2
        </p>
    </div>
     <div>
        <h4>
            Small
        </h4>
        <p>
            @Model.Small
        </p>
    </div>
        <div>
        <h4>
            Small2
        </h4>
        <p>
            @Model.Small2
        </p>
    </div>

</div>
<form method="post" class="mt-4">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

