@model Slider
@{
    ViewData["Title"] = "Detail";
}


    <div>
        <h4>
            Id
        </h4>
        <p>
        @Model.Id
        </p>
    </div>
    <div>
     <h4>
          Discount
        </h4>
        <p>
            @Model.Discount
        </p>
    </div>
    <div>   <h4>   
            Image
        </h4>
        <p>
            @Model.Image
        </p>
        </div>
        <h4>
          Title
        </h4>
        <p>
            @Model.Text1
        </p></div>
        <div> <h4>
        Subtitle
        </h4>
        <p>
            @Model.Text2
        </p></div>
        <div> <h4>
       Small
        </h4>
        <p>
            @Model.Small
        </p></div>
         <div> <h4>
       Order
        </h4>
        <p>
            @Model.Order
        </p></div>



